html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fffbff;
  color: #000;
}

.container {
  display: grid;
  grid-auto-flow: row;
  gap: 16px;
  width: 100%;
  max-width: 600px;
  margin-top: 60px;

  h1 {
    font-size: 28px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}